@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-background: white;
  --color-foreground: black;

  --color-primary: rgb(250 204 21); /* #facc15 - tailwind yellow-400 color */
}

.dark {
  --color-background: rgba(27, 30, 46);
  --color-foreground: rgb(225, 227, 237);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--color-background);
}
